# to ~/.config/systemd/user
[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/home/bin/emacs/emacsren.d/home/isync.sh
